{% extends 'home/sub_base_page.html' %}
{% load static wagtailcore_tags wagtailimages_tags yuandongweb_tags %}
{% block extra_css %}
<link href="{% static 'css/swiper.min.css' %}" rel="stylesheet" />
    <style>
    .swiper-container {
      width: 100%;
      height: auto;
      text-align: center;
    }
    .swiper-slide {
      text-align: center;
      height: 300px;
      font-size: 14px;

      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    </style>
{% endblock %}
{% block sub_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% breadcrumbs page=self %}
                {% if swiper_page %}
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for item in swiper_page %}
                                {% image item.image fill-358x267 as image %}
                                <div class="swiper-slide">
                                    <div style="display: block; width: 100%;">
                                        <img src="{{ image.url }}" class="img-responsive">
                                        <p>{{ item.note }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                {% else %}
                    <div class="swiper-no-data" style="text-align: center; height: 200px; line-height: 200px">
                        <h4>暂无数据！</h4>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% block swiper %}
    {% endblock %}
{% endblock %}
{% block extra_js %}
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 15,
        slidesPerGroup: 1,
        autoplay: 2000,
        loop: true,
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        breakpoints: {
            480:{
                slidesPerView: 2,
            }
        }
    })
</script>

{% endblock %}
