@charset "utf-8";
body {
    font-family:"微软雅黑",serif;
    background: #f7f7f7;
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.clearfix {
    clear: both;
    height: 20px;
}

.no-height-fix {
    height: 0;
}

.navbar-default {
    background: #fff;
    position: relative;
    margin-bottom: 0;
    border: 0;
}

.navbar-brand {
    height: auto;
    /*cursor: default;*/
}

.navbar-extra span {
    color: #90b6cb;
}
.container{
    padding: 0;
}
/*屏幕设定*/
@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-header {
        width: 100%;
    }
    .navbar-extra {
        margin: 5px 12% 0 12%;
    }
    .navbar-extra a:nth-child(3){
        padding-right: 0;
        float: right;
        text-decoration: none;
        color: #000;
    }
    .navbar-extra a:nth-child(3):hover{
        color: #79aed0;
    }
    .navbar-extra a:nth-child(2) {
        text-decoration: none;
        color: #000;
        cursor: default;
    }
    .navbar-extra a:nth-child(1) {
        padding-right: 30%;
        text-decoration: none;
        color: #000;
        cursor: default;
    }

    .navbar-brand {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 20px 12% 10px 12%;
    }
    .logo-bg{
        display: inline-block;
    }
    .tel-img{
        display: inline-block;
        float: right;
    }

    #menu {
        background: #1a3260;
    }

    .navbar-nav {
        float: none;
        width: 70%;
        margin: auto;
        display: flex;
    }

    .navbar-nav li {
        text-align: center;
        flex: 1;  /*让每个弹性盒子才有相同的宽度*/
    }
    .navbar-nav li a {
        color: #fff;
        white-space: nowrap; /*规定段落中的文本不换行*/
    }
    .navbar-nav li:hover {
        background: #085698;
    }

    .navbar-nav li:hover a {
        color: #e2ebf4;
    }

    .submenu {
        min-width: 100%;
        display: none;
        position: absolute;
        top: 50px;
        background-color: #085698;
    }
    /*下拉菜单中的每个 li 标签的设置*/
    .submenu > li {
        position: relative;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        padding-right: 5px;
    }

    .submenu > li > ul, .childmenu > li > ul {
        min-width: 100%;
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        background: #00A1E9;
        padding: 40px 0;
    }

    .center li {
        padding: 0;
        text-align: center !important;
    }

    .bar {
        transform: rotate(-90deg);
        float: right;
        margin: 10px 5px 0 0;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 0;
    }

    .nav.navbar-nav > li {
        width: 90%;
        margin: auto;
        border-bottom: 1px dashed #ddd;
    }

    .submenu {
        width: 100%;
        padding-left: 25px;
    }

    .submenu > li a {
        color: #333;
        font-size: 12px;
    }

    .submenu > li > ul {
        padding: 0 20px;
        lighting-color: #a6e1ec;
    }
    .submenu > li > ul ul {
        padding-left: 20px;
    }
}
@media (max-width: 1024px) {
    .tel-img {
        display: none;
    }
    .navbar-extra {
        display: none;
    }
}
/*.selected-nav {*/
    /*background-color: red;*/
/*}*/

/*footer*/
.foot-wrap {
    padding: 0;
    background-color: #1a3260;
}
.foot-line{
    width: 100%;
    line-height: 30px;
    height: 30px;
    background-color: #0b1d41;
    color: #f5f3f4;
    text-align: center;
}
/*文章页面 body 内容格式*/
.stream-paragraph p {
    text-indent: 2em;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}
.img-wrapper {
    text-align: center;
}
.no-border {
    border: 0;
}
.stream-field{
    padding: 5px;
}
